In [1]:
# Import Panda's library
import pandas as pd
from pandas import DataFrame
import numpy as np 
from sqlalchemy import create_engine

In [2]:
# Import sportsref NFL spreadsheet of weekly 2018 stats, and convert to .csv using Pandas.
weekly_data = pd.read_html("sportsref_download.xls")[0]
weekly_data

,Week,Day,Date,Time,Winner/tie,Unnamed: 5,Loser/tie,Unnamed: 7,PtsW,PtsL,YdsW,TOW,YdsL,TOL
0,1,Thu,September 6,8:20PM,Philadelphia Eagles,NaN,Atlanta Falcons,boxscore,18.0,12.0,232.0,2.0,299.0,1.0
1,1,Sun,September 9,1:00PM,Tampa Bay Buccaneers,@,New Orleans Saints,boxscore,48.0,40.0,529.0,0.0,475.0,2.0
2,1,Sun,September 9,1:00PM,Minnesota Vikings,NaN,San Francisco 49ers,boxscore,24.0,16.0,343.0,1.0,327.0,4.0
3,1,Sun,September 9,1:00PM,Miami Dolphins,NaN,Tennessee Titans,boxscore,27.0,20.0,342.0,2.0,336.0,3.0
4,1,Sun,September 9,1:00PM,Jacksonville Jaguars,@,New York Giants,boxscore,20.0,15.0,305.0,1.0,324.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,Division,Sun,January 13,1:05PM,New England Patriots,NaN,Los Angeles Chargers,boxscore,41.0,28.0,498.0,0.0,335.0,2.0
264,Division,Sun,January 13,4:40PM,New Orleans Saints,NaN,Philadelphia Eagles,boxscore,20.0,14.0,420.0,1.0,250.0,2.0
265,ConfChamp,Sun,January 20,3:05PM,Los Angeles Rams,@,New Orleans Saints,boxscore,26.0,23.0,378.0,1.0,290.0,1.0
266,ConfChamp,Sun,January 20,6:40PM,New England Patriots,@,Kansas City Chiefs,boxscore,37.0,31.0,524.0,2.0,290.0,0.0
267,SuperBowl,Sun,February 3,6:30PM,New England Patriots,N,Los Angeles Rams,boxscore,13.0,3.0,407.0,1.0,260.0,1.0

In [3]:
# To determine what weeks the Seahawks played, filter data for "Wins" & "Losses" by the Seattle Seahawks.
# Search the Loser/tie and Winner/tie column for the Seattle Seahawks
filter_weeks_lose = weekly_data["Loser/tie"]=="Seattle Seahawks"
filter_weeks_win = weekly_data["Winner/tie"]=="Seattle Seahawks"

# Filter the data for only Seattle Seahawks W/L information.
weekly_W = weekly_data[filter_weeks_win]
weekly_L = weekly_data[filter_weeks_lose]

# Join the two separate dataframes
dataframes = [weekly_L, weekly_W]
LW_join = pd.concat(dataframes)
weekly_LW_join = LW_join
weekly_LW_join

,Week,Day,Date,Time,Winner/tie,Unnamed: 5,Loser/tie,Unnamed: 7,PtsW,PtsL,YdsW,TOW,YdsL,TOL
12,1,Sun,September 9,4:25PM,Denver Broncos,NaN,Seattle Seahawks,boxscore,27.0,24.0,470.0,3.0,306.0,3.0
31,2,Mon,September 17,8:15PM,Chicago Bears,NaN,Seattle Seahawks,boxscore,24.0,17.0,271.0,2.0,276.0,2.0
74,5,Sun,October 7,4:25PM,Los Angeles Rams,@,Seattle Seahawks,boxscore,33.0,31.0,468.0,2.0,373.0,0.0
129,9,Sun,November 4,4:05PM,Los Angeles Chargers,@,Seattle Seahawks,boxscore,25.0,17.0,375.0,0.0,356.0,1.0
145,10,Sun,November 11,4:25PM,Los Angeles Rams,NaN,Seattle Seahawks,boxscore,36.0,31.0,456.0,0.0,414.0,1.0
220,15,Sun,December 16,4:05PM,San Francisco 49ers,NaN,Seattle Seahawks,boxscore,26.0,23.0,351.0,1.0,385.0,0.0
258,WildCard,Sat,January 5,8:15PM,Dallas Cowboys,NaN,Seattle Seahawks,boxscore,24.0,22.0,380.0,1.0,299.0,0.0
44,3,Sun,September 23,4:25PM,Seattle Seahawks,NaN,Dallas Cowboys,boxscore,24.0,13.0,295.0,0.0,303.0,3.0
58,4,Sun,September 30,4:05PM,Seattle Seahawks,@,Arizona Cardinals,boxscore,20.0,17.0,331.0,0.0,263.0,1.0
83,6,Sun,October 14,1:00PM,Seattle Seahawks,@,Oakland Raiders,boxscore,27.0,3.0,369.0,1.0,185.0,2.0
110,8,Sun,October 28,1:00PM,Seattle Seahawks,@,Detroit Lions,boxscore,28.0,14.0,413.0,0.0,331.0,3.0
148,11,Thu,November 15,8:20PM,Seattle Seahawks,NaN,Green Bay Packers,boxscore,27.0,24.0,378.0,1.0,359.0,0.0
168,12,Sun,November 25,1:00PM,Seattle Seahawks,@,Carolina Panthers,boxscore,30.0,27.0,397.0,0.0,476.0,1.0
188,13,Sun,December 2,4:25PM,Seattle Seahawks,NaN,San Francisco 49ers,boxscore,43.0,16.0,331.0,0.0,452.0,3.0
207,14,Mon,December 10,8:15PM,Seattle Seahawks,NaN,Minnesota Vikings,boxscore,21.0,7.0,274.0,1.0,276.0,1.0
238,16,Sun,December 23,8:20PM,Seattle Seahawks,NaN,Kansas City Chiefs,boxscore,38.0,31.0,464.0,0.0,419.0,2.0
248,17,Sun,December 30,4:25PM,Seattle Seahawks,NaN,Arizona Cardinals,boxscore,27.0,24.0,291.0,1.0,198.0,2.0

In [4]:
# Remove unnecessary Columns, Rows, & NAN Values; Cleanup Column Titles, and organize data so it is in order by week.
# Drop Columns 5 & 7, which will also remove any NAN values
weekly_LW_join = weekly_LW_join.drop(columns=["Unnamed: 5", "Unnamed: 7", "TOW", "TOL", "Time", "Day", "Date"])

# Remove the "Wildcard Game" from the dataset.
weekly_LW_join = weekly_LW_join[weekly_LW_join.Week != "WildCard"]

# Organize data weekly by sorting by the index. 
weekly_LW_join = weekly_LW_join.sort_index()

# Rename the Winner/tie & Loser/tie Columns, and reset the index.
weekly_LW_join.rename(columns={"Winner/tie": "Winner"}, inplace=True)
weekly_LW_join.rename(columns={"Loser/tie": "Loser"}, inplace=True)
weekly_LW_join.rename(columns={"PtsW": "Points_Winner"}, inplace=True)
weekly_LW_join.rename(columns={"PtsL": "Points_Loser"}, inplace=True)
weekly_LW_join.rename(columns={"YdsW": "Yards_Won"}, inplace=True)
weekly_LW_join.rename(columns={"YdsL": "Yards_Lost"}, inplace=True)

weekly_LW_join = weekly_LW_join.reset_index(drop=True)
weekly_LW_join

,Week,Winner,Loser,Points_Winner,Points_Loser,Yards_Won,Yards_Lost
0,1,Denver Broncos,Seattle Seahawks,27.0,24.0,470.0,306.0
1,2,Chicago Bears,Seattle Seahawks,24.0,17.0,271.0,276.0
2,3,Seattle Seahawks,Dallas Cowboys,24.0,13.0,295.0,303.0
3,4,Seattle Seahawks,Arizona Cardinals,20.0,17.0,331.0,263.0
4,5,Los Angeles Rams,Seattle Seahawks,33.0,31.0,468.0,373.0
5,6,Seattle Seahawks,Oakland Raiders,27.0,3.0,369.0,185.0
6,8,Seattle Seahawks,Detroit Lions,28.0,14.0,413.0,331.0
7,9,Los Angeles Chargers,Seattle Seahawks,25.0,17.0,375.0,356.0
8,10,Los Angeles Rams,Seattle Seahawks,36.0,31.0,456.0,414.0
9,11,Seattle Seahawks,Green Bay Packers,27.0,24.0,378.0,359.0
10,12,Seattle Seahawks,Carolina Panthers,30.0,27.0,397.0,476.0
11,13,Seattle Seahawks,San Francisco 49ers,43.0,16.0,331.0,452.0
12,14,Seattle Seahawks,Minnesota Vikings,21.0,7.0,274.0,276.0
13,15,San Francisco 49ers,Seattle Seahawks,26.0,23.0,351.0,385.0
14,16,Seattle Seahawks,Kansas City Chiefs,38.0,31.0,464.0,419.0
15,17,Seattle Seahawks,Arizona Cardinals,27.0,24.0,291.0,198.0

In [5]:
# Drop week 1 from the dataframe. Our goal is to analyze Russell Wilson's stats per game, and the NFL has not provided 
# stats for week 1. Remove week 1 from the dataframe.
weekly_LW_join = weekly_LW_join.drop(weekly_LW_join.index[0])

# Reset index.
weekly_LW_join = weekly_LW_join.reset_index(drop=True)
weekly_LW_join

,Week,Winner,Loser,Points_Winner,Points_Loser,Yards_Won,Yards_Lost
0,2,Chicago Bears,Seattle Seahawks,24.0,17.0,271.0,276.0
1,3,Seattle Seahawks,Dallas Cowboys,24.0,13.0,295.0,303.0
2,4,Seattle Seahawks,Arizona Cardinals,20.0,17.0,331.0,263.0
3,5,Los Angeles Rams,Seattle Seahawks,33.0,31.0,468.0,373.0
4,6,Seattle Seahawks,Oakland Raiders,27.0,3.0,369.0,185.0
5,8,Seattle Seahawks,Detroit Lions,28.0,14.0,413.0,331.0
6,9,Los Angeles Chargers,Seattle Seahawks,25.0,17.0,375.0,356.0
7,10,Los Angeles Rams,Seattle Seahawks,36.0,31.0,456.0,414.0
8,11,Seattle Seahawks,Green Bay Packers,27.0,24.0,378.0,359.0
9,12,Seattle Seahawks,Carolina Panthers,30.0,27.0,397.0,476.0
10,13,Seattle Seahawks,San Francisco 49ers,43.0,16.0,331.0,452.0
11,14,Seattle Seahawks,Minnesota Vikings,21.0,7.0,274.0,276.0
12,15,San Francisco 49ers,Seattle Seahawks,26.0,23.0,351.0,385.0
13,16,Seattle Seahawks,Kansas City Chiefs,38.0,31.0,464.0,419.0
14,17,Seattle Seahawks,Arizona Cardinals,27.0,24.0,291.0,198.0

In [6]:
# Use Pandas to read in the all_plays.csv file and showcase the unique gameid values.
all_plays_df = pd.read_csv("data/all_plays.csv")
all_plays_gameid = all_plays_df.gameId.unique()

# Create a new dataframe from the unique gameid values. First, create a list of column names. 
column_values = ['gameId'] 
  
# Create the dataframe. 
gameid = pd.DataFrame(data = all_plays_gameid, columns = column_values) 
  
# Display the gameid dataframe. 
gameid

        gameId
0   2018091700
1   2018092312
2   2018093008
3   2018100711
4   2018101407
5   2018102804
6   2018110408
7   2018111110
8   2018111500
9   2018112502
10  2018120213
11  2018121000
12  2018121609
13  2018122314
14  2018123015

In [7]:
# Create a new dataframe from the unique gameid values. 
# Get weekly info for 'playtype', 'typeDropback', 'passResult', 'offenseFormation'

# Week 2. **no data for week 1 or week 7** 
column_values_1 = ['gameId', 'playType', '']
gameid_1 = pd.DataFrame(data = all_plays_df, columns = column_values_1) 
gameid_1 = gameid_1.fillna("na")  
gameid_1a = gameid_1[ gameid_1['gameId'] == 2018091700]
gameid_1a = gameid_1a.set_index(["playType", "gameId"]).count(level="playType")
gameid_1a = gameid_1a.T
column_values_2 = ['gameId', 'typeDropback', '']
gameid_2 = pd.DataFrame(data = all_plays_df, columns = column_values_2) 
gameid_2 = gameid_2.fillna("na")   
gameid_2a = gameid_2[ gameid_2['gameId'] == 2018091700]
gameid_2a = gameid_2a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_2a = gameid_2a.T
gameid_2a = gameid_2a.drop(columns=["na"])
column_values_3 = ['gameId', 'passResult', '']
gameid_3 = pd.DataFrame(data = all_plays_df, columns = column_values_3) 
gameid_3 = gameid_3.fillna("na")   
gameid_3a = gameid_3[ gameid_3['gameId'] == 2018091700]
gameid_3a = gameid_3a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_3a = gameid_3a.T
column_values_4 = ['gameId', 'offenseFormation', '']
gameid_4 = pd.DataFrame(data = all_plays_df, columns = column_values_4) 
gameid_4 = gameid_4.fillna("na")    
gameid_4a = gameid_4[ gameid_4['gameId'] == 2018091700]
gameid_4a = gameid_4a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_4a = gameid_4a.T
gameid_4a = gameid_4a.drop(columns=["na"])

week_2 = pd.concat([gameid_1a, gameid_2a, gameid_3a, gameid_4a], axis=1, join='inner')

#week 3
column_values_5 = ['gameId', 'playType', '']
gameid_5 = pd.DataFrame(data = all_plays_df, columns = column_values_5) 
gameid_5 = gameid_5.fillna("na")  
gameid_5a = gameid_5[ gameid_5['gameId'] == 2018092312]
gameid_5a = gameid_5a.set_index(["playType", "gameId"]).count(level="playType")
gameid_5a = gameid_5a.T
column_values_6 = ['gameId', 'typeDropback', '']
gameid_6 = pd.DataFrame(data = all_plays_df, columns = column_values_6) 
gameid_6 = gameid_6.fillna("na")    
gameid_6a = gameid_6[ gameid_6['gameId'] == 2018092312]
gameid_6a = gameid_6a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_6a = gameid_6a.T
gameid_6a = gameid_6a.drop(columns=["na"])
column_values_7 = ['gameId', 'passResult', '']
gameid_7 = pd.DataFrame(data = all_plays_df, columns = column_values_7) 
gameid_7 = gameid_7.fillna("na")   
gameid_7a = gameid_7[ gameid_7['gameId'] == 2018092312]
gameid_7a = gameid_7a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_7a = gameid_7a.T
column_values_8 = ['gameId', 'offenseFormation', '']
gameid_8 = pd.DataFrame(data = all_plays_df, columns = column_values_8) 
gameid_8 = gameid_8.fillna("na")   
gameid_8a = gameid_8[ gameid_8['gameId'] == 2018092312]
gameid_8a = gameid_8a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_8a = gameid_8a.T

week_3 = pd.concat([gameid_5a, gameid_6a, gameid_7a, gameid_8a], axis=1, join='inner')

#week 4
column_values_9 = ['gameId', 'playType', '']
gameid_9 = pd.DataFrame(data = all_plays_df, columns = column_values_9) 
gameid_9 = gameid_9.fillna("na")   
gameid_9a = gameid_9[ gameid_9['gameId'] == 2018093008]
gameid_9a = gameid_9a.set_index(["playType", "gameId"]).count(level="playType")
gameid_9a = gameid_9a.T
column_values_10 = ['gameId', 'typeDropback', '']
gameid_10 = pd.DataFrame(data = all_plays_df, columns = column_values_10) 
gameid_10 = gameid_10.fillna("na")    
gameid_10a = gameid_10[ gameid_10['gameId'] == 2018093008]
gameid_10a = gameid_10a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_10a = gameid_10a.T
gameid_10a = gameid_10a.drop(columns=["na"])
column_values_11 = ['gameId', 'passResult', '']
gameid_11 = pd.DataFrame(data = all_plays_df, columns = column_values_11) 
gameid_11 = gameid_11.fillna("na")   
gameid_11a = gameid_11[ gameid_11['gameId'] == 2018093008]
gameid_11a = gameid_11a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_11a = gameid_11a.T
column_values_12 = ['gameId', 'offenseFormation', '']
gameid_12 = pd.DataFrame(data = all_plays_df, columns = column_values_12) 
gameid_12 = gameid_12.fillna("na")    
gameid_12a = gameid_12[ gameid_12['gameId'] == 2018093008]
gameid_12a = gameid_12a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_12a = gameid_12a.T
gameid_12a = gameid_12a.drop(columns=["na"])

week_4 = pd.concat([gameid_9a, gameid_10a, gameid_11a, gameid_12a], axis=1, join='inner')

In [8]:
#week 5
column_values_13 = ['gameId', 'playType', '']
gameid_13 = pd.DataFrame(data = all_plays_df, columns = column_values_13) 
gameid_13 = gameid_13.fillna("na")   
gameid_13a = gameid_13[ gameid_13['gameId'] == 2018100711]
gameid_13a = gameid_13a.set_index(["playType", "gameId"]).count(level="playType")
gameid_13a = gameid_13a.T
column_values_14 = ['gameId', 'typeDropback', '']
gameid_14 = pd.DataFrame(data = all_plays_df, columns = column_values_14) 
gameid_14 = gameid_14.fillna("na")    
gameid_14a = gameid_14[ gameid_14['gameId'] == 2018100711]
gameid_14a = gameid_14a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_14a = gameid_14a.T
gameid_14a = gameid_14a.drop(columns=["na"])
column_values_15 = ['gameId', 'passResult', '']
gameid_15 = pd.DataFrame(data = all_plays_df, columns = column_values_15) 
gameid_15 = gameid_15.fillna("na")    
gameid_15a = gameid_15[ gameid_15['gameId'] == 2018100711]
gameid_15a = gameid_15a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_15a = gameid_15a.T
column_values_16 = ['gameId', 'offenseFormation', '']
gameid_16 = pd.DataFrame(data = all_plays_df, columns = column_values_16) 
gameid_16 = gameid_16.fillna("na")    
gameid_16a = gameid_16[ gameid_16['gameId'] == 2018100711]
gameid_16a = gameid_16a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_16a = gameid_16a.T
gameid_16a = gameid_16a.drop(columns=["na"])

week_5 = pd.concat([gameid_13a, gameid_14a, gameid_15a, gameid_16a], axis=1, join='inner')

#week 6
column_values_17 = ['gameId', 'playType', '']
gameid_17 = pd.DataFrame(data = all_plays_df, columns = column_values_17) 
gameid_17 = gameid_17.fillna("na")   
gameid_17a = gameid_17[ gameid_17['gameId'] == 2018101407]
gameid_17a = gameid_17a.set_index(["playType", "gameId"]).count(level="playType")
gameid_17a = gameid_17a.T
column_values_18 = ['gameId', 'typeDropback', '']
gameid_18 = pd.DataFrame(data = all_plays_df, columns = column_values_18) 
gameid_18 = gameid_18.fillna("na")   
gameid_18a = gameid_18[ gameid_18['gameId'] == 2018101407]
gameid_18a = gameid_18a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_18a = gameid_18a.T
gameid_18a = gameid_18a.drop(columns=["na"])
column_values_19 = ['gameId', 'passResult', '']
gameid_19 = pd.DataFrame(data = all_plays_df, columns = column_values_19) 
gameid_19 = gameid_19.fillna("na")    
gameid_19a = gameid_19[ gameid_19['gameId'] == 2018101407]
gameid_19a = gameid_19a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_19a = gameid_19a.T
column_values_20 = ['gameId', 'offenseFormation', '']
gameid_20 = pd.DataFrame(data = all_plays_df, columns = column_values_20) 
gameid_20 = gameid_20.fillna("na")   
gameid_20a = gameid_20[ gameid_20['gameId'] == 2018101407]
gameid_20a = gameid_20a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_20a = gameid_20a.T

week_6 = pd.concat([gameid_17a, gameid_18a, gameid_19a, gameid_20a], axis=1, join='inner')

#week 8. **No Week 7 Stats**
column_values_21 = ['gameId', 'playType', '']
gameid_21 = pd.DataFrame(data = all_plays_df, columns = column_values_21) 
gameid_21 = gameid_21.fillna("na")  
gameid_21a = gameid_21[ gameid_21['gameId'] == 2018102804]
gameid_21a = gameid_21a.set_index(["playType", "gameId"]).count(level="playType")
gameid_21a = gameid_21a.T
column_values_22 = ['gameId', 'typeDropback', '']
gameid_22 = pd.DataFrame(data = all_plays_df, columns = column_values_22) 
gameid_22 = gameid_22.fillna("na")    
gameid_22a = gameid_22[ gameid_22['gameId'] == 2018102804]
gameid_22a = gameid_22a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_22a = gameid_22a.T
column_values_23 = ['gameId', 'passResult', '']
gameid_23 = pd.DataFrame(data = all_plays_df, columns = column_values_23) 
gameid_23 = gameid_23.fillna("na")    
gameid_23a = gameid_23[ gameid_23['gameId'] == 2018102804]
gameid_23a = gameid_23a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_23a = gameid_23a.T
column_values_24 = ['gameId', 'offenseFormation', '']
gameid_24 = pd.DataFrame(data = all_plays_df, columns = column_values_24) 
gameid_24 = gameid_24.fillna("na")    
gameid_24a = gameid_24[ gameid_24['gameId'] == 2018102804]
gameid_24a = gameid_24a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_24a = gameid_24a.T

week_8 = pd.concat([gameid_21a, gameid_22a, gameid_23a, gameid_24a], axis=1, join='inner')

In [9]:
#week 9
column_values_25 = ['gameId', 'playType', '']
gameid_25 = pd.DataFrame(data = all_plays_df, columns = column_values_25) 
gameid_25 = gameid_25.fillna("na")   
gameid_25a = gameid_25[ gameid_25['gameId'] == 2018110408]
gameid_25a = gameid_25a.set_index(["playType", "gameId"]).count(level="playType")
gameid_25a = gameid_25a.T
column_values_26 = ['gameId', 'typeDropback', '']
gameid_26 = pd.DataFrame(data = all_plays_df, columns = column_values_26) 
gameid_26 = gameid_26.fillna("na")    
gameid_26a = gameid_26[ gameid_26['gameId'] == 2018110408]
gameid_26a = gameid_26a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_26a = gameid_26a.T
gameid_26a = gameid_26a.drop(columns=["na"])
column_values_27 = ['gameId', 'passResult', '']
gameid_27 = pd.DataFrame(data = all_plays_df, columns = column_values_27) 
gameid_27 = gameid_27.fillna("na")    
gameid_27a = gameid_27[ gameid_27['gameId'] == 2018110408]
gameid_27a = gameid_27a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_27a = gameid_27a.T
column_values_28 = ['gameId', 'offenseFormation', '']
gameid_28 = pd.DataFrame(data = all_plays_df, columns = column_values_28) 
gameid_28 = gameid_28.fillna("na")    
gameid_28a = gameid_28[ gameid_28['gameId'] == 2018110408]
gameid_28a = gameid_28a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_28a = gameid_28a.T
gameid_28a = gameid_28a.drop(columns=["na"])

week_9 = pd.concat([gameid_25a, gameid_26a, gameid_27a, gameid_28a], axis=1, join='inner')

#week 10
column_values_29 = ['gameId', 'playType', '']
gameid_29 = pd.DataFrame(data = all_plays_df, columns = column_values_29) 
gameid_29 = gameid_29.fillna("na")   
gameid_29a = gameid_29[ gameid_29['gameId'] == 2018111110]
gameid_29a = gameid_29a.set_index(["playType", "gameId"]).count(level="playType")
gameid_29a = gameid_29a.T
column_values_30 = ['gameId', 'typeDropback', '']
gameid_30 = pd.DataFrame(data = all_plays_df, columns = column_values_30) 
gameid_30 = gameid_30.fillna("na")   
gameid_30a = gameid_30[ gameid_30['gameId'] == 2018111110]
gameid_30a = gameid_30a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_30a = gameid_30a.T
gameid_30a = gameid_30a.drop(columns=["na"])
column_values_31 = ['gameId', 'passResult', '']
gameid_31 = pd.DataFrame(data = all_plays_df, columns = column_values_31) 
gameid_31 = gameid_31.fillna("na")    
gameid_31a = gameid_31[ gameid_31['gameId'] == 2018111110]
gameid_31a = gameid_31a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_31a = gameid_31a.T
column_values_32 = ['gameId', 'offenseFormation', '']
gameid_32 = pd.DataFrame(data = all_plays_df, columns = column_values_32) 
gameid_32 = gameid_32.fillna("na")   
gameid_32a = gameid_32[ gameid_32['gameId'] == 2018111110]
gameid_32a = gameid_32a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_32a = gameid_32a.T
gameid_32a = gameid_32a.drop(columns=["na"])

week_10 = pd.concat([gameid_29a, gameid_30a, gameid_31a, gameid_32a], axis=1, join='inner')

#week 11
column_values_33 = ['gameId', 'playType', '']
gameid_33 = pd.DataFrame(data = all_plays_df, columns = column_values_33) 
gameid_33 = gameid_33.fillna("na")  
gameid_33a = gameid_33[ gameid_33['gameId'] == 2018111500]
gameid_33a = gameid_33a.set_index(["playType", "gameId"]).count(level="playType")
gameid_33a = gameid_33a.T
column_values_34 = ['gameId', 'typeDropback', '']
gameid_34 = pd.DataFrame(data = all_plays_df, columns = column_values_34) 
gameid_34 = gameid_34.fillna("na")    
gameid_34a = gameid_34[ gameid_34['gameId'] == 2018111500]
gameid_34a = gameid_34a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_34a = gameid_34a.T
gameid_34a = gameid_34a.drop(columns=["na"])
column_values_35 = ['gameId', 'passResult', '']
gameid_35 = pd.DataFrame(data = all_plays_df, columns = column_values_35) 
gameid_35 = gameid_35.fillna("na")    
gameid_35a = gameid_35[ gameid_35['gameId'] == 2018111500]
gameid_35a = gameid_35a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_35a = gameid_35a.T
column_values_36 = ['gameId', 'offenseFormation', '']
gameid_36 = pd.DataFrame(data = all_plays_df, columns = column_values_36) 
gameid_36 = gameid_36.fillna("na")    
gameid_36a = gameid_36[ gameid_36['gameId'] == 2018111500]
gameid_36a = gameid_36a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_36a = gameid_36a.T

week_11 = pd.concat([gameid_33a, gameid_34a, gameid_35a, gameid_36a], axis=1, join='inner')

In [10]:
#week 12
column_values_37 = ['gameId', 'playType', '']
gameid_37 = pd.DataFrame(data = all_plays_df, columns = column_values_37) 
gameid_37 = gameid_37.fillna("na")   
gameid_37a = gameid_37[ gameid_37['gameId'] == 2018112502]
gameid_37a = gameid_37a.set_index(["playType", "gameId"]).count(level="playType")
gameid_37a = gameid_37a.T
column_values_38 = ['gameId', 'typeDropback', '']
gameid_38 = pd.DataFrame(data = all_plays_df, columns = column_values_38) 
gameid_38 = gameid_38.fillna("na")    
gameid_38a = gameid_38[ gameid_38['gameId'] == 2018112502]
gameid_38a = gameid_38a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_38a = gameid_38a.T
column_values_39 = ['gameId', 'passResult', '']
gameid_39 = pd.DataFrame(data = all_plays_df, columns = column_values_39) 
gameid_39 = gameid_39.fillna("na")    
gameid_39a = gameid_39[ gameid_39['gameId'] == 2018112502]
gameid_39a = gameid_39a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_39a = gameid_39a.T
column_values_40 = ['gameId', 'offenseFormation', '']
gameid_40 = pd.DataFrame(data = all_plays_df, columns = column_values_40) 
gameid_40 = gameid_40.fillna("na")    
gameid_40a = gameid_40[ gameid_40['gameId'] == 2018112502]
gameid_40a = gameid_40a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_40a = gameid_40a.T
gameid_40a = gameid_40a.drop(columns=["na"])

week_12 = pd.concat([gameid_37a, gameid_38a, gameid_39a, gameid_40a], axis=1, join='inner')

#week 13
column_values_41 = ['gameId', 'playType', '']
gameid_41 = pd.DataFrame(data = all_plays_df, columns = column_values_41) 
gameid_41 = gameid_41.fillna("na")   
gameid_41a = gameid_41[ gameid_41['gameId'] == 2018120213]
gameid_41a = gameid_41a.set_index(["playType", "gameId"]).count(level="playType")
gameid_41a = gameid_41a.T
column_values_42 = ['gameId', 'typeDropback', '']
gameid_42 = pd.DataFrame(data = all_plays_df, columns = column_values_42) 
gameid_42 = gameid_42.fillna("na")   
gameid_42a = gameid_42[ gameid_42['gameId'] == 2018120213]
gameid_42a = gameid_42a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_42a = gameid_42a.T
gameid_42a = gameid_42a.drop(columns=["na"])
column_values_43 = ['gameId', 'passResult', '']
gameid_43 = pd.DataFrame(data = all_plays_df, columns = column_values_43) 
gameid_43 = gameid_43.fillna("na")    
gameid_43a = gameid_43[ gameid_43['gameId'] == 2018120213]
gameid_43a = gameid_43a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_43a = gameid_43a.T
column_values_44 = ['gameId', 'offenseFormation', '']
gameid_44 = pd.DataFrame(data = all_plays_df, columns = column_values_44) 
gameid_44 = gameid_44.fillna("na")   
gameid_44a = gameid_44[ gameid_44['gameId'] == 2018120213]
gameid_44a = gameid_44a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_44a = gameid_44a.T

week_13 = pd.concat([gameid_41a, gameid_42a, gameid_43a, gameid_44a], axis=1, join='inner')

#week 14
column_values_45 = ['gameId', 'playType', '']
gameid_45 = pd.DataFrame(data = all_plays_df, columns = column_values_45) 
gameid_45 = gameid_45.fillna("na")  
gameid_45a = gameid_45[ gameid_45['gameId'] == 2018121000]
gameid_45a = gameid_45a.set_index(["playType", "gameId"]).count(level="playType")
gameid_45a = gameid_45a.T
column_values_46 = ['gameId', 'typeDropback', '']
gameid_46 = pd.DataFrame(data = all_plays_df, columns = column_values_46) 
gameid_46 = gameid_46.fillna("na")    
gameid_46a = gameid_46[ gameid_46['gameId'] == 2018121000]
gameid_46a = gameid_46a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_46a = gameid_46a.T
gameid_46a = gameid_46a.drop(columns=["na"])
column_values_47 = ['gameId', 'passResult', '']
gameid_47 = pd.DataFrame(data = all_plays_df, columns = column_values_47) 
gameid_47 = gameid_47.fillna("na")    
gameid_47a = gameid_47[ gameid_47['gameId'] == 2018121000]
gameid_47a = gameid_47a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_47a = gameid_47a.T
column_values_48 = ['gameId', 'offenseFormation', '']
gameid_48 = pd.DataFrame(data = all_plays_df, columns = column_values_48) 
gameid_48 = gameid_48.fillna("na")    
gameid_48a = gameid_48[ gameid_48['gameId'] == 2018121000]
gameid_48a = gameid_48a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_48a = gameid_48a.T

week_14 = pd.concat([gameid_45a, gameid_46a, gameid_47a, gameid_48a], axis=1, join='inner')

In [11]:
#week 15
column_values_49 = ['gameId', 'playType', '']
gameid_49 = pd.DataFrame(data = all_plays_df, columns = column_values_49) 
gameid_49 = gameid_49.fillna("na")   
gameid_49a = gameid_49[ gameid_49['gameId'] == 2018121609]
gameid_49a = gameid_49a.set_index(["playType", "gameId"]).count(level="playType")
gameid_49a = gameid_49a.T
column_values_50 = ['gameId', 'typeDropback', '']
gameid_50 = pd.DataFrame(data = all_plays_df, columns = column_values_50) 
gameid_50 = gameid_50.fillna("na")    
gameid_50a = gameid_50[ gameid_50['gameId'] == 2018121609]
gameid_50a = gameid_50a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_50a = gameid_50a.T
gameid_50a = gameid_50a.drop(columns=["na"])
column_values_51 = ['gameId', 'passResult', '']
gameid_51 = pd.DataFrame(data = all_plays_df, columns = column_values_51) 
gameid_51 = gameid_51.fillna("na")    
gameid_51a = gameid_51[ gameid_51['gameId'] == 2018121609]
gameid_51a = gameid_51a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_51a = gameid_51a.T
column_values_52 = ['gameId', 'offenseFormation', '']
gameid_52 = pd.DataFrame(data = all_plays_df, columns = column_values_52) 
gameid_52 = gameid_52.fillna("na")    
gameid_52a = gameid_52[ gameid_52['gameId'] == 2018121609]
gameid_52a = gameid_52a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_52a = gameid_52a.T

week_15 = pd.concat([gameid_49a, gameid_50a, gameid_51a, gameid_52a], axis=1, join='inner')

#week 16
column_values_53 = ['gameId', 'playType', '']
gameid_53 = pd.DataFrame(data = all_plays_df, columns = column_values_53) 
gameid_53 = gameid_53.fillna("na")   
gameid_53a = gameid_53[ gameid_53['gameId'] == 2018122314]
gameid_53a = gameid_53a.set_index(["playType", "gameId"]).count(level="playType")
gameid_53a = gameid_53a.T
column_values_54 = ['gameId', 'typeDropback', '']
gameid_54 = pd.DataFrame(data = all_plays_df, columns = column_values_54) 
gameid_54 = gameid_54.fillna("na")   
gameid_54a = gameid_54[ gameid_54['gameId'] == 2018122314]
gameid_54a = gameid_54a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_54a = gameid_54a.T
gameid_54a = gameid_54a.drop(columns=["na"])
column_values_55 = ['gameId', 'passResult', '']
gameid_55 = pd.DataFrame(data = all_plays_df, columns = column_values_55) 
gameid_55 = gameid_55.fillna("na")    
gameid_55a = gameid_55[ gameid_55['gameId'] == 2018122314]
gameid_55a = gameid_55a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_55a = gameid_55a.T
column_values_56 = ['gameId', 'offenseFormation', '']
gameid_56 = pd.DataFrame(data = all_plays_df, columns = column_values_56) 
gameid_56 = gameid_56.fillna("na")   
gameid_56a = gameid_56[ gameid_56['gameId'] == 2018122314]
gameid_56a = gameid_56a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_56a = gameid_56a.T

week_16 = pd.concat([gameid_53a, gameid_54a, gameid_55a, gameid_56a], axis=1, join='inner')

#week 17
column_values_57 = ['gameId', 'playType', '']
gameid_57 = pd.DataFrame(data = all_plays_df, columns = column_values_57) 
gameid_57 = gameid_57.fillna("na")  
gameid_57a = gameid_57[ gameid_57['gameId'] == 2018123015]
gameid_57a = gameid_57a.set_index(["playType", "gameId"]).count(level="playType")
gameid_57a = gameid_57a.T
column_values_58 = ['gameId', 'typeDropback', '']
gameid_58 = pd.DataFrame(data = all_plays_df, columns = column_values_58) 
gameid_58 = gameid_58.fillna("na")    
gameid_58a = gameid_58[ gameid_58['gameId'] == 2018123015]
gameid_58a = gameid_58a.set_index(["typeDropback", "gameId"]).count(level="typeDropback")
gameid_58a = gameid_58a.T
gameid_58a = gameid_58a.drop(columns=["na"])
column_values_59 = ['gameId', 'passResult', '']
gameid_59 = pd.DataFrame(data = all_plays_df, columns = column_values_59) 
gameid_59 = gameid_59.fillna("na")    
gameid_59a = gameid_59[ gameid_59['gameId'] == 2018123015]
gameid_59a = gameid_59a.set_index(["passResult", "gameId"]).count(level="passResult")
gameid_59a = gameid_59a.T
column_values_60 = ['gameId', 'offenseFormation', '']
gameid_60 = pd.DataFrame(data = all_plays_df, columns = column_values_60) 
gameid_60 = gameid_60.fillna("na")    
gameid_60a = gameid_60[ gameid_60['gameId'] == 2018123015]
gameid_60a = gameid_60a.set_index(["offenseFormation", "gameId"]).count(level="offenseFormation")
gameid_60a = gameid_60a.T

week_17 = pd.concat([gameid_57a, gameid_58a, gameid_59a, gameid_60a], axis=1, join='inner')

In [12]:
# Add missing column headers to the appropriate weekly dataframe so that when we join the columns they will match
# without any errors or additional edits. Join Columns once headers of all dataframes match.
play_type_unknown = ['0']
DESIGNED_ROLLOUT_RIGHT = ['0']
DESIGNED_ROLLOUT_LEFT = ['0']
SCRAMBLE_ROLLOUT_RIGHT = ['0']
SCRAMBLE_ROLLOUT_LEFT = ['0']
SCRAMBLE = ['0']
UNKNOWN = ['0']
IN = ['0']
PISTOL = ['0']
JUMBO = ['0']
I_FORM = ['0']
EMPTY = ['0']

week_2['DESIGNED_ROLLOUT_RIGHT'] = DESIGNED_ROLLOUT_RIGHT
week_2['JUMBO'] = JUMBO
week_2['PISTOL'] = PISTOL

week_3['DESIGNED_ROLLOUT_LEFT'] = DESIGNED_ROLLOUT_LEFT
week_3['SCRAMBLE'] = SCRAMBLE
week_3['UNKNOWN'] = UNKNOWN
week_3['IN'] = IN
week_3['I_FORM'] = I_FORM
week_3['JUMBO'] = JUMBO

week_4['DESIGNED_ROLLOUT_LEFT'] = DESIGNED_ROLLOUT_LEFT
week_4['SCRAMBLE_ROLLOUT_RIGHT'] = SCRAMBLE_ROLLOUT_RIGHT
week_4['IN'] = IN
week_4['JUMBO'] = JUMBO
week_4['PISTOL'] = PISTOL

week_5['UNKNOWN'] = UNKNOWN
week_5['IN'] = IN
week_5['EMPTY'] = EMPTY
week_5['JUMBO'] = JUMBO
week_5['PISTOL'] = PISTOL

week_6['DESIGNED_ROLLOUT_LEFT'] = DESIGNED_ROLLOUT_LEFT
week_6['PISTOL'] = PISTOL
week_6['UNKNOWN'] = UNKNOWN

week_8['play_type_unknown'] = play_type_unknown
week_8['UNKNOWN'] = UNKNOWN
week_8['IN'] = IN
week_8['I_FORM'] = I_FORM

week_9['DESIGNED_ROLLOUT_RIGHT'] = DESIGNED_ROLLOUT_RIGHT
week_9['DESIGNED_ROLLOUT_LEFT'] = DESIGNED_ROLLOUT_LEFT
week_9['JUMBO'] = JUMBO
week_9['PISTOL'] = PISTOL

week_10['DESIGNED_ROLLOUT_LEFT'] = DESIGNED_ROLLOUT_LEFT
week_10['PISTOL'] = PISTOL
week_10['JUMBO'] = JUMBO

week_11['SCRAMBLE_ROLLOUT_RIGHT'] = SCRAMBLE_ROLLOUT_RIGHT
week_11['UNKNOWN'] = UNKNOWN
week_11['IN'] = IN
week_11['PISTOL'] = PISTOL
week_11['JUMBO'] = JUMBO

week_12['play_type_unknown'] = play_type_unknown
week_12['DESIGNED_ROLLOUT_LEFT'] = DESIGNED_ROLLOUT_LEFT
week_12['IN'] = IN
week_12['PISTOL'] = PISTOL
week_12['JUMBO'] = JUMBO

week_13['DESIGNED_ROLLOUT_LEFT'] = DESIGNED_ROLLOUT_LEFT
week_13['SCRAMBLE_ROLLOUT_LEFT'] = SCRAMBLE_ROLLOUT_LEFT
week_13['UNKNOWN'] = UNKNOWN
week_13['IN'] = IN
week_13['PISTOL'] = PISTOL
week_13['JUMBO'] = JUMBO

week_14['DESIGNED_ROLLOUT_LEFT'] = DESIGNED_ROLLOUT_LEFT
week_14['UNKNOWN'] = UNKNOWN
week_14['PISTOL'] = PISTOL
week_14['JUMBO'] = JUMBO
week_14['EMPTY'] = EMPTY

week_15['UNKNOWN'] = UNKNOWN
week_15['IN'] = IN
week_15['PISTOL'] = PISTOL
week_15['JUMBO'] = JUMBO

week_16['DESIGNED_ROLLOUT_LEFT'] = DESIGNED_ROLLOUT_LEFT
week_16['UNKNOWN'] = UNKNOWN
week_16['IN'] = IN
week_16['PISTOL'] = PISTOL
week_16['JUMBO'] = JUMBO

week_17['DESIGNED_ROLLOUT_LEFT'] = DESIGNED_ROLLOUT_LEFT
week_17['SCRAMBLE_ROLLOUT_LEFT'] = SCRAMBLE_ROLLOUT_LEFT
week_17['UNKNOWN'] = UNKNOWN
week_17['PISTOL'] = PISTOL
week_17['JUMBO'] = JUMBO

week_2_3 = week_2.append(week_3)
week_2_3_4 = week_2_3.append(week_4)

week_5_6 = week_5.append(week_6)
week_5_6_8 = week_5_6.append(week_8)

week_9_10 = week_9.append(week_10)
week_9_10_11 = week_9_10.append(week_11)

week_12_13 = week_12.append(week_13)
week_12_13_14 = week_12_13.append(week_14)

week_15_16 = week_15.append(week_16)
week_15_16_17 = week_15_16.append(week_17)

week_234568 = week_2_3_4.append(week_5_6_8)
week_91011121314 = week_9_10_11.append(week_12_13_14)
week_2_14 = week_234568.append(week_91011121314)
week_final = week_2_14.append(week_15_16_17)
week_final = week_final.reset_index()
week_final = week_final.drop(columns=["play_type_sack", "play_type_unknown"])

week_final

,index,play_type_pass,DESIGNED_ROLLOUT_LEFT,SCRAMBLE,SCRAMBLE_ROLLOUT_LEFT,SCRAMBLE_ROLLOUT_RIGHT,TRADITIONAL,UNKNOWN,C,I,IN,S,EMPTY,I_FORM,SHOTGUN,SINGLEBACK,DESIGNED_ROLLOUT_RIGHT,JUMBO,PISTOL
0,,36,1,4,1,4,29,3,22,14,1,6,3,3,31,3,0,0,0
1,,26,0,0,1,2,24,0,16,11,0,2,3,0,21,4,1,0,1
2,,26,0,4,1,0,21,1,19,9,0,2,5,2,19,3,1,0,0
3,,21,1,2,1,4,12,0,13,9,0,4,0,4,16,5,3,0,0
4,,23,0,4,1,1,15,0,17,6,1,1,4,2,16,2,3,1,0
5,,17,1,4,1,1,11,0,14,3,0,2,1,0,9,7,1,1,1
6,,39,0,4,2,1,34,2,27,14,1,4,5,1,32,5,0,0,0
7,,26,0,2,1,2,21,1,17,10,1,4,4,2,21,4,3,0,0
8,,31,2,2,3,0,26,0,21,11,0,3,1,2,25,7,1,0,0
9,,31,0,1,1,2,22,1,22,9,0,2,3,1,24,4,6,0,0
10,,17,0,2,0,1,15,0,11,9,0,3,1,3,13,6,2,0,0
11,,20,0,1,1,4,15,0,10,10,1,2,0,1,15,7,1,0,0
12,,30,1,3,4,2,22,0,23,8,0,3,2,4,25,3,1,0,0
13,,29,0,1,5,4,21,0,18,15,0,3,1,4,26,5,1,0,0
14,,21,0,1,0,3,16,0,12,8,1,7,3,1,19,5,7,0,0

In [13]:
# Join the Win/Loss dataframe with the gameid.
weekly_nfl_games_df = pd.concat([weekly_LW_join, gameid], axis=1, sort=False)

# Join the week_final dataframe to the weekly_nfl_games_df dataframe.
weekly_nfl_games_final = pd.concat([weekly_nfl_games_df, week_final], axis=1, sort=False)

# Change the column dtypes to reflect the type of column value.
weekly_nfl_games_final = weekly_nfl_games_final.astype({"Points_Winner": int, "Points_Loser": int,
                                                       "Yards_Won": int, "Yards_Lost": int,
                                                       "DESIGNED_ROLLOUT_LEFT": int, "SCRAMBLE": int,
                                                       "SCRAMBLE_ROLLOUT_LEFT": int, "SCRAMBLE_ROLLOUT_RIGHT": int,
                                                       "UNKNOWN": int, "IN": int, "EMPTY": int, "I_FORM": int,
                                                       "DESIGNED_ROLLOUT_RIGHT": int, "JUMBO": int, "PISTOL": int})

weekly_nfl_games_final = weekly_nfl_games_final.drop(columns=["index"])

# Rename and Reorder the columns
weekly_nfl_games_final.rename(columns={"play_type_pass": "passes"}, inplace=True)
weekly_nfl_games_final.rename(columns={"S": "sack"}, inplace=True)
weekly_nfl_games_final.rename(columns={"IN": "intercepted"}, inplace=True)
weekly_nfl_games_final.rename(columns={"I": "incomplete"}, inplace=True)
weekly_nfl_games_final.rename(columns={"C": "complete"}, inplace=True)
weekly_nfl_games_final.rename(columns={"Week": "week"}, inplace=True)
weekly_nfl_games_final.rename(columns={"Winner": "winner"}, inplace=True)
weekly_nfl_games_final.rename(columns={"Loser": "loser"}, inplace=True)
weekly_nfl_games_final.rename(columns={"Points_Winner": "points_winner"}, inplace=True)
weekly_nfl_games_final.rename(columns={"Points_Loser": "points_loser"}, inplace=True)
weekly_nfl_games_final.rename(columns={"Yards_Won": "yards_won"}, inplace=True)
weekly_nfl_games_final.rename(columns={"Yards_Lost": "yards_lost"}, inplace=True)
weekly_nfl_games_final.rename(columns={"TRADITIONAL": "traditional"}, inplace=True)
weekly_nfl_games_final.rename(columns={"DESIGNED_ROLLOUT_RIGHT": "designed_rollout_right"}, inplace=True)
weekly_nfl_games_final.rename(columns={"DESIGNED_ROLLOUT_LEFT": "designed_rollout_left"}, inplace=True)
weekly_nfl_games_final.rename(columns={"SCRAMBLE": "scramble"}, inplace=True)
weekly_nfl_games_final.rename(columns={"SCRAMBLE_ROLLOUT_RIGHT": "scramble_rollout_right"}, inplace=True)
weekly_nfl_games_final.rename(columns={"SCRAMBLE_ROLLOUT_LEFT": "scramble_rollout_left"}, inplace=True)
weekly_nfl_games_final.rename(columns={"UNKNOWN": "unknown"}, inplace=True)
weekly_nfl_games_final.rename(columns={"I_FORM": "i_form"}, inplace=True)
weekly_nfl_games_final.rename(columns={"EMPTY": "empty"}, inplace=True)
weekly_nfl_games_final.rename(columns={"SHOTGUN": "shotgun"}, inplace=True)
weekly_nfl_games_final.rename(columns={"SINGLEBACK": "singleback"}, inplace=True)
weekly_nfl_games_final.rename(columns={"JUMBO": "jumbo"}, inplace=True)
weekly_nfl_games_final.rename(columns={"PISTOL": "pistol"}, inplace=True)

weekly_nfl_games_final = weekly_nfl_games_final[["week", "winner", "loser", "points_winner", "points_loser",
                                                "yards_won", "yards_lost", "passes", "complete", "incomplete",
                                                "intercepted", "sack", "traditional", "designed_rollout_right",
                                                "designed_rollout_left", "scramble", "scramble_rollout_right",
                                                "scramble_rollout_left", "unknown", "i_form", "empty", "shotgun",
                                                "singleback", "jumbo", "pistol"]]

weekly_nfl_games_final

,week,winner,loser,points_winner,points_loser,yards_won,yards_lost,passes,complete,incomplete,...,scramble,scramble_rollout_right,scramble_rollout_left,unknown,i_form,empty,shotgun,singleback,jumbo,pistol
0,2,Chicago Bears,Seattle Seahawks,24,17,271,276,36,22,14,...,4,4,1,3,3,3,31,3,0,0
1,3,Seattle Seahawks,Dallas Cowboys,24,13,295,303,26,16,11,...,0,2,1,0,0,3,21,4,0,1
2,4,Seattle Seahawks,Arizona Cardinals,20,17,331,263,26,19,9,...,4,0,1,1,2,5,19,3,0,0
3,5,Los Angeles Rams,Seattle Seahawks,33,31,468,373,21,13,9,...,2,4,1,0,4,0,16,5,0,0
4,6,Seattle Seahawks,Oakland Raiders,27,3,369,185,23,17,6,...,4,1,1,0,2,4,16,2,1,0
5,8,Seattle Seahawks,Detroit Lions,28,14,413,331,17,14,3,...,4,1,1,0,0,1,9,7,1,1
6,9,Los Angeles Chargers,Seattle Seahawks,25,17,375,356,39,27,14,...,4,1,2,2,1,5,32,5,0,0
7,10,Los Angeles Rams,Seattle Seahawks,36,31,456,414,26,17,10,...,2,2,1,1,2,4,21,4,0,0
8,11,Seattle Seahawks,Green Bay Packers,27,24,378,359,31,21,11,...,2,0,3,0,2,1,25,7,0,0
9,12,Seattle Seahawks,Carolina Panthers,30,27,397,476,31,22,9,...,1,2,1,1,1,3,24,4,0,0
10,13,Seattle Seahawks,San Francisco 49ers,43,16,331,452,17,11,9,...,2,1,0,0,3,1,13,6,0,0
11,14,Seattle Seahawks,Minnesota Vikings,21,7,274,276,20,10,10,...,1,4,1,0,1,0,15,7,0,0
12,15,San Francisco 49ers,Seattle Seahawks,26,23,351,385,30,23,8,...,3,2,4,0,4,2,25,3,0,0
13,16,Seattle Seahawks,Kansas City Chiefs,38,31,464,419,29,18,15,...,1,4,5,0,4,1,26,5,0,0
14,17,Seattle Seahawks,Arizona Cardinals,27,24,291,198,21,12,8,...,1,3,0,0,1,3,19,5,0,0

In [26]:
weekly_nfl_games_final[['complete','incomplete','intercepted','sack']]

    complete  incomplete  intercepted  sack
0         22          14            1     6
1         16          11            0     2
2         19           9            0     2
3         13           9            0     4
4         17           6            1     1
5         14           3            0     2
6         27          14            1     4
7         17          10            1     4
8         21          11            0     3
9         22           9            0     2
10        11           9            0     3
11        10          10            1     2
12        23           8            0     3
13        18          15            0     3
14        12           8            1     7

In [14]:
#Print the dataframe.
weekly_nfl_games_final.to_csv("data/weekly_nfl_games.csv", index=True)

In [15]:
# Connect to database
# Fill out for your database - local or hosted
rds_connection_string = 'user:password@server:port/database'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [16]:
# Check for tables
engine.table_names()

['weekly_nfl_games']

In [17]:
engine.dispose()

In [19]:
# Use pandas to load csv converted weekly_nfl_games_df into the database.
weekly_nfl_games_final.to_sql(name='weekly_nfl_games', con=engine, if_exists='append', index=False)

In [20]:
# Confirm data has been added by querying the weekly_nfl_games table
pd.read_sql_query('select * from weekly_nfl_games', con=engine).head(20)

,week,winner,loser,points_winner,points_loser,yards_won,yards_lost,passes,complete,incomplete,...,scramble,scramble_rollout_right,scramble_rollout_left,unknown,i_form,empty,shotgun,singleback,jumbo,pistol
0,2,Chicago Bears,Seattle Seahawks,24,17,271,276,36,22,14,...,4,4,1,3,3,3,31,3,0,0
1,3,Seattle Seahawks,Dallas Cowboys,24,13,295,303,26,16,11,...,0,2,1,0,0,3,21,4,0,1
2,4,Seattle Seahawks,Arizona Cardinals,20,17,331,263,26,19,9,...,4,0,1,1,2,5,19,3,0,0
3,5,Los Angeles Rams,Seattle Seahawks,33,31,468,373,21,13,9,...,2,4,1,0,4,0,16,5,0,0
4,6,Seattle Seahawks,Oakland Raiders,27,3,369,185,23,17,6,...,4,1,1,0,2,4,16,2,1,0
5,8,Seattle Seahawks,Detroit Lions,28,14,413,331,17,14,3,...,4,1,1,0,0,1,9,7,1,1
6,9,Los Angeles Chargers,Seattle Seahawks,25,17,375,356,39,27,14,...,4,1,2,2,1,5,32,5,0,0
7,10,Los Angeles Rams,Seattle Seahawks,36,31,456,414,26,17,10,...,2,2,1,1,2,4,21,4,0,0
8,11,Seattle Seahawks,Green Bay Packers,27,24,378,359,31,21,11,...,2,0,3,0,2,1,25,7,0,0
9,12,Seattle Seahawks,Carolina Panthers,30,27,397,476,31,22,9,...,1,2,1,1,1,3,24,4,0,0
10,13,Seattle Seahawks,San Francisco 49ers,43,16,331,452,17,11,9,...,2,1,0,0,3,1,13,6,0,0
11,14,Seattle Seahawks,Minnesota Vikings,21,7,274,276,20,10,10,...,1,4,1,0,1,0,15,7,0,0
12,15,San Francisco 49ers,Seattle Seahawks,26,23,351,385,30,23,8,...,3,2,4,0,4,2,25,3,0,0
13,16,Seattle Seahawks,Kansas City Chiefs,38,31,464,419,29,18,15,...,1,4,5,0,4,1,26,5,0,0
14,17,Seattle Seahawks,Arizona Cardinals,27,24,291,198,21,12,8,...,1,3,0,0,1,3,19,5,0,0